.login-register a:hover {
  color: white !important;
}

.text-decoration-none > .text-primary {
  color: #003366 !important;
}

.primary-color > .text-primary {
  color: #003366 !important;
}

.primary-color > .dropdown > .dropdown-toggle .text-primary {
  color: #003366 !important;
}

.navbar-nav .nav-link {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
}

@media (max-width: 991px) {
  .navbar-nav .nav-link span {
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .link-text {
    display: none !important;
  }
}

.navbar-nav {
  flex-direction: row !important;
}
