.container {
  margin: auto;
}

.card-body {
  padding: 2rem;
}

.ls-tight > .text-primary {
  color: var(--primary-color) !important;
}

@media (max-width: 768px) {
  .form-control {
    max-width: 100%;
  }

  .card-body {
    padding: 1rem;
  }

  .fw-bold {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }
}
