.container {
  margin: auto;
}

.card-body {
  padding: 2rem;
}

.form-select option {
  background-color: #fff;
  padding: 8px;
  color: #333;
}

.form-select option:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.form-select option:checked {
  background-color: var(--secondary-color);
  color: #fff;
}

/* For smaller screens, adjust font sizes and form widths */
@media (max-width: 768px) {
  .form-control {
    max-width: 100%;
  }

  .card-body {
    padding: 1rem;
  }

  .fw-bold {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }
}
