.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* Light background for the search bar */
  border-radius: 8px;
}

.search-input {
  min-width: 350px; /* Adjust width */
  border-radius: 30px; /* Rounded corners for the input */
  border: 1px solid #ddd;
  font-size: 16px;
  transition: all 0.3s ease;
  height: 40px;
  margin-right: 10px;
}

.search-input:focus {
  outline: none; /* Remove default outline */
}

.search-btn {
  border: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  .search-container {
    width: 100%;
    padding: 10px;
  }

  .search-input {
    min-width: 250px; /* Adjust width for smaller screens */
  }
}
