.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-list-item {
  padding: 0.75rem;
  border: 1px solid #eee;
  font-weight: 500;
  color: var(--text-color);
  flex: 1 1 calc(25% - 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .user-list-item {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .user-list-item {
    flex: 1 1 100%;
  }
}