.profile-settings-container {
  margin: 0 auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.profile-settings-container .form-label {
  font-weight: 600 !important;
  color: var(--text-color) !important;
}

.profile-settings-container .form-control {
  border-radius: 0.75rem !important;
  color: var(--text-color) !important;
  margin-bottom: 1rem !important;
  background-color: var(--background-color) !important;
  border: 1px solid var(--text-color) !important;
}

.profile-settings-container .form-control:disabled {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.profile-settings-container .form-select {
  border-radius: 0.75rem !important;
  padding: 0.75rem !important;
  margin-bottom: 1rem !important;
  background-color: var(--background-color) !important;
  border: 1px solid var(--text-color) !important;
}

.profile-settings-container .btn-outline-primary {
  border-radius: 0.75rem !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  transition: background-color 0.3s ease !important;
}

.profile-settings-container .btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}

/* Table for social media links inside the container */
.profile-settings-container table.table {
  width: 100% !important;
}

.profile-settings-container .table td {
  padding: 0.75rem !important;
  color: var(--text-color) !important;
}

/* Button Styles for Removing Social Links */
.profile-settings-container .btn-outline-danger {
  color: var(--text-color) !important;
}

.profile-settings-container .btn-outline-danger:hover {
  color: var(--text-color) !important;
}

.profile-settings-container button[type="submit"] {
  border-radius: 0.75rem !important;
}

/* Responsive Styles for the Basic Profile Settings */
@media (max-width: 768px) {
  .profile-settings-container {
    padding: 0.5rem !important;
  }

  /* Input fields and select for smaller screens */
  .profile-settings-container .form-control,
  .profile-settings-container .form-select {
    font-size: 1rem !important;
    padding: 0.75rem !important;
  }

  /* Button size adjustments */
  .profile-settings-container .btn {
    font-size: 0.875rem !important;
    padding: 0.5rem 1rem !important;
  }
}
